h3 {
    color:blue;
    text-align: left;
}

label {
    color:black;
}


.example-input-full-width{
    color:black;
}

.card {
    padding-left: 200px;
    padding-right: 200px;
}

.example-form {
    box-shadow: 8px 8px 12px rgb(155, 154, 154);

}

mat-icon {
    color:blue;
}

.exemple-button-row{
    background-color: rgb(38, 131, 168);
    box-shadow: 8px 8px 12px rgb(140, 138, 138);
    margin-bottom: 15px;
}

#btn {
    color:wheat;
    font-size:17px;
}


.insert {
    text-align: left;
    width:120px;
}

 .completed {
    display: inline-block;
}

.mat-form-field{
    width:40%;
    display:inline-block ;
    text-align: left;
}

mat-radio-button {
    padding-left : 15px;
}
