<h3>Création d'une plongée</h3>
<!-- <div [hidden]="submitted" style="width: 400px;">
    <form #f="ngForm"  (ngSubmit)="onSubmit()"> -->
        <!-- <div class="form-group">
            <label for="num">num</label>
            <input type="text" class="form-control" id="num" required [(ngModel)]="plongeur.num" name="num">
        </div> -->

       <!--  <div ngModelGroup="contact"  #contact="ngModelGroup">
            <div class="form-group">
               
                <label for="secondName">nom</label>
                <input 
                required
                minlength="2"
                ngModel name="secondName"
                #secondName="ngModel"
                [(ngModel)]="plongeur.nom"
                type="text" class="form-control" id="secondName" >
                <div 
                class="alert alert-danger"
                *ngIf="secondName.touched && !secondName.valid">
                <div *ngIf="secondName.errors.required">
                        Le nom est obligatoire
                </div>
                </div>

                   
             <label for="firstName">prenom</label>
                <input 
                required
                minlength="2"
                ngModel name="firstName"
                #firstName="ngModel"
                name="firstName"
                [(ngModel)]="plongeur.prenom"
                type="text" class="form-control" id="firstName" >
                <div 
                class="alert alert-danger"
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">
                        Le prénom est obligatoire
            </div>
            </div> 


            <label for="niveau">niveau</label>
            <select 
                required
                ngModel name="niveau"
                #niveau="ngModel"
                name="niveau"
                [(ngModel)]="plongeur.niveau"
                class="form-control" id="niveau"  >
                        <option selected>  </option>
                        <option> 0 </option>
                        <option> 1 </option>
                        <option> 2 </option>
                        <option> 3 </option>
                        <option> 4 </option>
            </select>
            <div 
            class="alert alert-danger"
            *ngIf="niveau.touched && !niveau.valid">
            <div *ngIf="niveau.errors.required">
                    Le niveau est obligatoire
        </div>
        </div> 
            
             <label for="datePlongee">date de la plongée</label>
              <input 
                required 
                ngModel name="datePlongee"
                #datePlongee="ngModel"
                name="datePlongee"
                [(ngModel)]="plongeur.datePlongee"
                type="text"  class="form-control" id="datePlongee" >
                <div 
                class="alert alert-danger"
                *ngIf="datePlongee.touched && !datePlongee.valid">
                <div *ngIf="datePlongee.errors.required">
                        Veuillez entrer la date de la plongée (obligatoire)
            </div>
            </div> 

            <label for="profondeur">profondeur de la plongée</label>
            <input 
                required 
                ngModel name="profondeur"
                #profondeur="ngModel"
                name="profondeur"
                [(ngModel)]="plongeur.profondeur"
                type="text" class="form-control" id="profondeur">
                <div 
                class="alert alert-danger"
                *ngIf="profondeur.touched && !profondeur.valid">
                <div *ngIf="profondeur.errors.required">
                        Veuillez entrer la profondeur de la plongée (obligatoire)
            </div>
            </div> 
                
            <label for="duree">durée de la plongée</label>
            <input 
                required 
                ngModel name="dureePlongee"
                #dureePlongee="ngModel"
                name="dureePlongee"
                [(ngModel)]="plongeur.dureePlongee"
                type="text" class="form-control" id="dureePlongee">
                <div 
                class="alert alert-danger"
                *ngIf="dureePlongee.touched && !dureePlongee.valid">
                <div *ngIf="dureePlongee.errors.required">
                        Veuillez entrer la durée totale de la plongée
            </div>
            </div> 


            <label for="name">description</label>
            <select 
                required 
                ngModel name="description"
                #description="ngModel"
                name="description"
                [(ngModel)]="plongeur.description"
                class="form-control" id="description">
                        <option selected> Loisirs </option>
                        <option> Exploration épave </option>
                        <option> Exploration fonds </option>
                        <option> Exploration grotte </option>
                        <option> Photographie </option>
                        <option> Adaptation </option>
                        <option> Entrainement plongée profonde </option>
                        <option> Exercice d'orientation </option>
                        <option> Formation niveau </option>
            </select>
            <div 
                class="alert alert-danger"
                *ngIf="description.touched && !description.valid">
                <div *ngIf="description.errors.required">
                        Veuillez entrer la description succinte de la plongée
            </div>
            </div> 
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">envoyer</button>
    </form>  
</div>
<div [hidden]="!submitted">
    <h4>Envoi réussi!</h4>
    <button class="btn btn-success" (click)="newPlongeur()">Add</button>
</div>
<div>
</div> -->


<form class="example-form"  #f="ngForm" (ngSubmit)="onSubmit()">
    <div ngModelGroup="contact" #contact="ngModelGroup">
    <!-- <mat-form-field  class="example-input-full-width">
        <mat-label>num identifiant</mat-label>
        <input
        ngModel
        matInput placeholder="num identif" value="" required
        [(ngModel)]="plongeur.num" 
         name="num">
    </mat-form-field><br/> -->
    <mat-form-field  class="example-input-full-width">
        <mat-label>nom</mat-label>
        <input class="insert"
        ngModel name="nom" #nom="ngModel"
        matInput placeholder="nom" value="" required
        minlength="2" [(ngModel)]="plongeur.nom"
        type="text" id="nom"  >
            <div class="alert alert-danger"
            *ngIf="nom.touched && !nom.valid">
            <div *ngIf="nom.errors.required">
                nom obligatoire
            </div>
            </div>
    </mat-form-field>
    <div class="completed"
    *ngIf="nom.valid">
        <mat-icon>check</mat-icon>
    </div><br/>
    <mat-form-field  class="example-input-full-width">
        <mat-label>prénom</mat-label>
        <input
        ngModel name="prenom"  #prenom="ngModel" 
        matInput placeholder="prenom" value="" required
        minlength="2"  [(ngModel)]="plongeur.prenom"
         type="text" id="prenom">
        <div class="alert alert-danger"
        *ngIf="prenom.touched && !prenom.valid">
        <div *ngIf="prenom.errors.required">
            prénom obligatoire
        </div>
    </div>
    </mat-form-field>
    <div class="completed"
    *ngIf="prenom.valid">
        <mat-icon>check</mat-icon>
    </div>
    <br/>
    <mat-form-field  class="example-input-full-width">
        <mat-label>niveau</mat-label>
        <select matNativeControl required
        ngModel  name="niveau" #niveau="ngModel"
        matInput 
        [(ngModel)]="plongeur.niveau">
            <option value="0" selected >0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="alert alert-danger"
        *ngIf="niveau.touched && !niveau.valid">
        <div *ngIf="niveau.errors.required">
            niveau obligatoire
        </div>
    </div>
    </mat-form-field>
    <div class="completed"
    *ngIf="niveau.valid">
        <mat-icon>check</mat-icon>
    </div>
    <br/>

   <!--  <mat-form-field  class="example-input-full-width">
        <mat-label>date plongée</mat-label>
        <input  
        (focus)="date.open()"    
        [matDatepicker]="date"
        name="date" 
        matInput placeholder="datePlongee" value="0" required
        [(ngModel)]="plongeur.datePlongee" >
        <mat-datepicker-toggle matSuffix [for]="datePlongee"></mat-datepicker-toggle>
        <mat-datepicker #datePlongee touchUi="true"></mat-datepicker>
        <div class="alert alert-danger"
        *ngIf="datePlongee.touched && !datePlongee.valid">
        <div *ngIf="datePlongee.errors.required">
            date obligatoire
        </div>
    </div>
    </mat-form-field> -->
    <mat-form-field class="example-input-full-width">
        <mat-label>Choisissez une date</mat-label>
        <input 
        (focus)="datePlongee.open()"
        [matDatepicker]="datePlongee"
        name="datePlongee"
       
        [(ngModel)]="plongeur.datePlongee"
        matInput placeholder="datePlongee" value="0" required>
        <mat-datepicker-toggle matSuffix [for]="datePlongee"></mat-datepicker-toggle>
        <mat-datepicker #datePlongee  touchUi="true"></mat-datepicker>
      </mat-form-field>
      
    <br/>


    <mat-form-field  class="example-input-full-width">
        <mat-label>profondeur en mètres</mat-label>
        <input
        ngModel name="profondeur" #profondeur="ngModel"
        matInput placeholder="profondeur" value="0" required
        [(ngModel)]="plongeur.profondeur"
        type="text" id="profondeur">
        <div class="alert alert-danger"
        *ngIf="profondeur.touched && !profondeur.valid">
        <div *ngIf="profondeur.errors.required">
            profondeur obligatoire
        </div>
    </div>
    </mat-form-field>
    <div class="completed"
    *ngIf="profondeur.valid">
        <mat-icon>check</mat-icon>
    </div>
    <br/>
    <mat-form-field  class="example-input-full-width">
        <mat-label>durée en minutes</mat-label>
        <input
        ngModel name="duree" #duree="ngModel"
        matInput placeholder="duree" value="0" required
        [(ngModel)]="plongeur.dureePlongee"
        type="text" id="duree">
        <div class="alert alert-danger"
        *ngIf="duree.touched && !duree.valid">
        <div *ngIf="duree.errors.required">
            durée obligatoire
        </div>
    </div>

    </mat-form-field>
    <div class="completed"
    *ngIf="duree.valid">
        <mat-icon>check</mat-icon>
    </div>
    <br/>
    <mat-form-field  class="example-input-full-width">
        <mat-label>description</mat-label>
        <select matNativeControl required
        ngModel name="description" #description="ngModel"
        matInput 
        [(ngModel)]="plongeur.description">
        <option value="exploration">exploration</option>
        <option value="formation plongeur">formation plongeur</option>
        <option value="photographie">photographie</option>
        <option value="épave">épave</option>
        <option value="spéléo sous-marine">spéléo sous-marine</option>
        <option value="entrainement sauvetage">entrainement sauvetage</option>
        </select>
        <div class="alert alert-danger"
        *ngIf="description.touched && !description.valid">
        <div *ngIf="description.errors.required">
            description obligatoire
        </div>
    </div>
       
    </mat-form-field>
    <div class="completed"
    *ngIf="description.valid">
        <mat-icon>check</mat-icon>
    </div>
    <br/>
</div>
    <button mat-button id="btn" type="submit" 
    class="exemple-button-row" [disabled]="!f.valid">envoyer</button>
</form>



