<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="activites" class="nav-link" routerLinkActive="active "><img src="assets/img/favicon_plongee.png"></a>
    </li>
    <li class="nav-item">
      <a routerLink="activites" class="nav-link" routerLinkActive="active current">Activités plongées</a>
    </li>
    <li class="nav-item">
      <a routerLink="plongeurs" class="nav-link" routerLinkActive="active current">Liste des plongées</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active current">Ajouter plongée</a>
    </li>
    <li class="nav-item">
      <a routerLink="demande" class="nav-link" routerLinkActive="active current">demande de plongée</a>
    </li>
    <li class="nav-item">
      <a routerLink="about" class="nav-link" routerLinkActive="active current">About</a>
    </li>
   
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
