h2 {
    color: blue;
    text-align: left;
}

.panel-heading {
    padding-left: 1px;
    color:black;
}

#maTable {
    color:black;
}




.mat-elevation-z8 {
    color:black;
}

.btn-stroked {
    background-color: rgb(7, 150, 71);
    color:white;
    border-radius: 10px;
    box-shadow: 8px 8px 12px rgb(140, 138, 138);

}

#modif {
    background-color: rgb(7, 64, 150);

}

.btn-fab {
    margin-left: 8px;
    background-color: rgb(191, 26, 14);
    box-shadow: 8px 8px 12px rgb(140, 138, 138);

}

.btn-raised {
    border-radius: 10px;
}

.panel-body {
    background-color: rgb(224, 229, 230);
    box-shadow: 8px 8px 12px rgb(155, 154, 154);
    width : 1310px;
    color:black;
}

.myPagination{
    background-color: crimson;
}
