/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css" ;

body {
      margin:0;
      padding:0;
      background-image: url('assets/img/mer.png') no-repeat center fixed;  
      background: url(assets/img/mer.png) no-repeat center fixed; 
      -webkit-background-size: cover; /* pour anciens Chrome et Safari */
      background-size: cover;
}

.footer {
      color : white;
      text-align: center;
      margin-top: 50%;
      font-size:20px ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root{
      width:90%;

}
